#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Home row mods macro
#define HRMR(k1, k2, k3, k4) &mt RSHIFT k1  &mt RCTRL k2  &mt RALT k3 &mt RGUI k4

#define MAC 0
#define RIG 1
#define LEF 2
#define TRI 3

/ {
	macros {
		ma_a: macro_a {
			label = "MACRO_A";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			    = <&macro_press &kp RALT>
			    , <&macro_tap &kp Q>
			    , <&macro_release &kp RALT>
			    ;
		};
		ma_s: macro_s {
			label = "MACRO_S";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			    = <&macro_press &kp RALT>
			    , <&macro_tap &kp S>
			    , <&macro_release &kp RALT>
			    ;
		};
		ma_u: macro_u {
			label = "MACRO_U";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			    = <&macro_press &kp RALT>
			    , <&macro_tap &kp Y>
			    , <&macro_release &kp RALT>
			    ;
		};
		ma_o: macro_o {
			label = "MACRO_O";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			    = <&macro_press &kp RALT>
			    , <&macro_tap &kp P>
			    , <&macro_release &kp RALT>
			    ;
		};
	};
	behaviors {
		td_mt_a: tap_dance_mod_tap {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_MOD_TAP_A";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&mt LGUI A>, <&ma_a>;
		};

		td_mt_s: tap_dance_mod_tap {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_MOD_TAP_S";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&mt LALT S>, <&ma_s>;
		};
		td_u: tap_dance_u {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_U";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp U>, <&ma_u>;
		};
		td_o: tap_dance_o {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_O";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp O>, <&ma_o>;
		};
	};

	conditional_layers {
		compatible = "zmk,conditional-layers";
		tri_layer {
			if-layers = <RIG LEF>;
			then-layer = <TRI>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
				//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
				//│        Q       │        W       │        E       │        R       │        T       │   │        Y       │        U       │        I       │        O       │        P       │
				       &kp Q            &kp W            &kp E            &kp R            &kp T                &kp Y              &td_u          &kp I              &td_o          &kp P
				//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
				//│        A       │        S       │        D       │        F       │        G       │   │        H       │        J       │        K       │        L       │        ;       │
				       &td_mt_a         &td_mt_s       &mt LCTRL D      &mt LSHIFT F       &kp G                &kp H          &mt RSHIFT J     &mt RCTRL K       &mt RALT L     &mt RGUI SEMI
				//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
				//│        Z       │        X       │        C       │        V       │        B       │   │        N       │        M       │       , <      │       . >      │       /        │
				       &kp Z            &kp X            &kp C            &kp V            &kp B                &kp N            &kp M            &kp COMMA         &kp DOT         &kp FSLH
				//╰────────────────┴────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────╯
								       &lt LEF ESC        &kp SPACE         &kp TAB            &kp ENTER         &kp BSPC        &lt RIG DEL
				//             			    ╰────────────────┴────────────────┴────────────────╯   ╰────────────────┴────────────────┴────────────────╯
				>;
		};

		right_layer {
			bindings = <
				//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
				//│        1       │        2       │        3       │        4       │        5       │   │        6       │        7       │        8       │        9       │        0       │
				       &kp N1           &kp N2           &kp N3           &kp N4           &kp N5               &kp N6           &kp N7           &kp N8           &kp N9           &kp N0
				//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
				//│                │                │                │                │     PRINT      │   │      LEFT      │      DOWN      │       UP       │      RIGHT     │     PAGE UP    │
				        &none            &none            &none            &none          &kp PSCRN             &kp LARW         &kp DARW         &kp UARW         &kp RARW         &kp PG_UP
				//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
				//│                │                │                │                │     INSERT     │   │      HOME      │                │                │       END      │     PAGE DN    │
				       &none             &none            &none            &none            &kp INS             &kp HOME          &none            &none           &kp END          &kp PG_DN
				//╰────────────────┴────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────╯
								       &lt LEF ESC        &kp SPACE         &kp TAB            &kp ENTER         &kp BSPC        &lt RIG DEL
				//             			    ╰────────────────┴────────────────┴────────────────╯   ╰────────────────┴────────────────┴────────────────╯
				>;
		};

		left_layer {
			bindings = <
				//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
				//│       !        │       @        │       [        │       ]        │       '        │   │       =        │       <        │       >        │       #        │       :        │
				       &kp EXCL         &kp AT           &kp LBKT         &kp RBKT         &kp SQT              &kp EQUAL        &kp LT           &kp GT           &kp HASH         &kp COLON
				//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
				//│       \        │       /        │       {        │       }        │       "        │   │       -        │       (        │       )        │       _        │       ;        │
				       &kp BSLH         &kp FSLH         &kp LBRC         &kp RBRC         &kp DQT              &kp MINUS        &kp LPAR         &kp RPAR         &kp UNDER        &kp SEMI
				//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
				//│       |        │       %        │       `        │       ~        │       *        │   │       +        │       ^        │       $        │       &        │       ?        │
				       &kp PIPE         &kp PRCNT        &kp GRAVE        &kp TILDE        &kp ASTRK            &kp PLUS         &kp CARET        &kp DLLR         &kp AMPS         &kp QMARK
				//╰────────────────┴────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────╯
								       &lt LEF ESC        &kp SPACE         &kp TAB            &kp ENTER         &kp BSPC        &lt RIG DEL
				//             			    ╰────────────────┴────────────────┴────────────────╯   ╰────────────────┴────────────────┴────────────────╯
				>;
		};

		tri_layer {
			bindings = <
				//╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮   ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
				//│       F1       │       F2       │       F3       │       F4       │   PROFILE 0    │   │    PROFILE 2   │    TOGGLEOUT   │                │    VOL MUTE    │    NEXTSONG    │
				      &kp F1           &kp F2           &kp F3           &kp F4          &bt BT_SEL 0         &bt BT_SEL 2     &out OUT_TOG        &none         &kp C_MUTE        &kp C_NEXT
				//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
				//│       F5       │       F6       │       F7       │       F8       │   PROFILE 1    │   │    PROFILE 3   │   INC BRIGHT   │                │     VOL UP     │   PAUSEMUSIC   │
				      &kp F5           &kp F6           &kp F7           &kp F8          &bt BT_SEL 1         &bt BT_SEL 3     &kp C_BRI_UP        &none        &kp C_VOL_UP        &kp C_PP
				//├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
				//│       F9       │      F10       │      F11       │      F12       │    CLEAR BT    │   │    PROFILE 4   │   DEC BRIGHT   │                |    VOL DOWN    │    PREVSONG    │
				      &kp F9          &kp F10          &kp F11          &kp F12           &bt BT_CLR          &bt BT_SEL 4     &kp C_BRI_DEC       &none        &kp C_VOL_DN       &kp C_PREV
				//╰────────────────┴────────────────┼────────────────┼────────────────┼────────────────┤   ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────╯
								       &lt LEF ESC        &kp SPACE         &kp TAB            &kp ENTER         &kp BSPC        &lt RIG DEL
				//             			    ╰────────────────┴────────────────┴────────────────╯   ╰────────────────┴────────────────┴────────────────╯
				>;
		};
	};
};
